<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dchb.mapper.turn.IcdtenMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dchb.model.turn.Icdten">
        <id column="ICDSID" property="icdsid" />
        <result column="ICDNAMESPELL" property="icdnamespell" />
        <result column="IDDNAME" property="iddname" />
        <result column="ICDCODE" property="icdcode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ICDSID, ICDNAMESPELL, IDDNAME, ICDCODE
    </sql>

</mapper>
